/*
.tasks .info.clickable:hover, .tasks .desc.clickable:hover { background-color: #eee; }
.tasks div.clickable:hover { background-color: #eee;cursor: pointer; }
*/

.clickable:hover { cursor: pointer; }
.tasks li span.clickable:hover { background-color: #eee; }
.tasks li span { margin: 0px 2px; padding: 3px 5px;}

.tasks ul {list-style-type: none;margin: 0px; padding-left: 15px; }
.tasks span, .tasks div, .tasks input, .tasks textarea { font-weight: bold;vertical-align: middle; }
.tasks li.todiscuss * { color: #ffba00; }
.tasks li.skipped * { color: darkgray; }
.tasks li.inwork * { color: #C76C28; }
.tasks li.todo * { color: #DD280E; }
.tasks li.done * { color: green; }
.tasks li.add * { color: #555; }

.tasks li button { display: none; width: 20px; height: 20px; padding: 0; margin-left:0px;font-size:10pt; }
.tasks li:hover button { display: inline-block; }
.tasks li.editing:hover button { display: none; }

.todo div, .inwork div, .done div, .add div, .skipped div, .todiscuss div { width: 25px; height: 15px; background-repeat:no-repeat;background-position: 5px 0px;display: inline-block;}
.todiscuss div{ background-image: url('../i/todiscuss.png'); }
.skipped div{ background-image: url('../i/skipped.png'); }
.inwork div{ background-image: url('../i/inwork.png'); }
.todo div{ background-image: url('../i/todo.png'); }
.done div{ background-image: url('../i/done.png'); }
.add div{ background-image: url('../i/add.png'); width: 25px; height: 25px; }

div.tasks input, div.tasks textarea { margin: 0; width: 93%; height: 20px; }
div.tasks input, div.tasks textarea { margin: 0; width: 93%; height: 20px; }
div.tasks input.info { width: 50px; }

.del {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.del:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.alert-info, .alert-success, .alert-error {
	position: fixed;
    right: 10px;
    top: 10px;
    z-index: 10000;
}